@using Parser;

    @foreach (var res in CallsList)
{
    <p>Дата и время звонка = @res.OnIncomingCallDate</p>
    <p>Номер дозваниваемого = @res.CalledNumber</p>
    <p>Номер звонящего = @res.CallerNumber</p>
    <p>Адрес звонящего = @res.CallerAddress</p>
    <p>Имя звонящего (если есть) = @res.CallerName</p>
    <p>UId = @res.Uid</p>
    <p>Connection = @res.Connection</p>
    <br />
}


@code {
    [Parameter]
    public List<Call> CallsList { get; set; }
}
